<style>
    body {
        background-color: rgb(68, 118, 69);
    }
    .logo {
        color: white;
        text-align: center;
        font-size: 36px;
        text-decoration: none;
        margin-bottom: 30px;
    }
    .nav-hello {
        color: white;
        text-align: center;
        font-size: 24px;
        margin-right: 30px;
    }
    .nav-a {
        color: white;
        text-align: right;
        font-size: 18px;
        text-decoration: none;
        margin-right: 30px;
    }
    hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    }
</style>


<a class="logo" href="{% url 'home' %}">
    <h1>TO-DO</h1>
</a>



{% if request.user.is_authenticated %}
<p class="nav-hello">Hello {{request.user.username}}</p>
<a class="nav-a" href="{% url 'logout' %}">Logout</a>
{% else %}
<a class="nav-a" href="{% url 'login' %}">Login</a>
{% endif %}

<hr>
