{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="home-container">
    
    <div>
        <h2>Users</h2>
        {% for user in users %}
        <p>@{{user.username}} </p>
        {% endfor %}
    </div>
    

    <div> 
       
        <div>
            <a href="{% url 'add-task' %}">Add Task</a>
        </div>
        <hr>
        
        {% for task in tasks %}
        {% if task.completed != True and task.host.email == request.user.email %}
        <span>@{{task.host.username}}</span>
        <a href="{% url 'task' task.id %}"><h3>{{task.title}}</h3></a>
        <div>
            <a href="{% url 'completed-task' task.id  %}">Done</a>
            <a href="{% url 'update-task' task.id  %}">Update</a>
            <a href="{% url 'delete' task.id %}">Delete</a>
            <hr>
        </div>
        {% endif %}
        {% endfor %}

        <p>Active task: {{user_task}}</p>

        
    </div>
    
   
    <div>
        <h2>Completed tasks</h2>
        {% for task in tasks %}
        {% if task.completed != False and task.host.email == request.user.email  %}
        <a href="{% url 'task' task.id %}"><h3>{{task.title}}</h3></a>
        {% endif %}
        {% endfor %}
        <p>Completed task: {{user_task_completed}}</p>

        
    </div>
</div>


{% endblock content %}