{% extends 'main.html' %}

{% block content %}
<style>
    h1 {
      font-size: 36px;
      text-align: center;
      color: #333;
    }
  
    div {
      width: 80%;
      margin: 0 auto;
    }

    p{
        text-align: center;
    }

    ul{
        display: center;
    }
  
    a {
      color: #abafb2;
      text-decoration: none;
      
    }
  
    a:hover {
      text-decoration: underline;
    }
</style>
  



<div>
    <a href="{% url 'task' task.id %}"><h1>{{task.title}}</h1></a>
    <p>Description: {{task.description}}</p>
    
    <ul>
        <li>
            <a href="{% url 'completed-task' task.id  %}">Done</a>
        </li>
        <li>
            <a href="{% url 'update-task' task.id  %}">Update</a>
        </li>
        <li>
            <a href="{% url 'delete' task.id %}">Delete</a>
        </li>
        
    </ul>
</div>

{% endblock content %}